@import url("css11.css");
h3{
  margin-top: 50px;
  color: #748fbf;
  font-family: cursive;
}
div:hover {
  -moz-transform: translate(25px, 47px) rotate(78deg) skewX(33deg);
  transition-timing-function: linear;
  transition-duration: all 1s;
}
body{
  margin-top: 100px;
}
